* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.foto_perfil {
  max-width: 45%;
  border-radius: 100%;
  padding-top: 1%;
}

.titulo_adobe {
  font-family: omnes-cyrillic-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9b837a;
  text-align: justify;
}

.titulo_adobe2 {
  font-family: quasimoda, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #9b837a;
  text-align: center;
}

.subtitulo_adobe {
  font-family: omnes-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ae5a49;
  text-align: center;
  font-size: 100%;
}

.texto_adobe {
  font-family: quasimoda, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #414042;
  text-align: center;
  font-size: 45%;
}

.flex-padre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  }

.flex-1 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.flex-2 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.flex-3 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.flex-4 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

 .contenedor_padre {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  align-content: space-around;
}

.contenedor_section1 {
  flex: 2 1 auto;
}

.contenedor_fotoperfil {
  flex: 1 1 auto;
}
/* .hijos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: #414042 solid;
}
    .foto {
      background: #2d4059;
      flex: 1 1 auto;
    } */
