* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.foto_perfil {
  max-width: 50%;
  height: auto;
  display: flex;
  border-radius: 100%;
}

.titulo_adobe {
  font-family: omnes-cyrillic-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9b837a;
  text-align: justify;
}

.subtitulo_adobe {
  font-family: omnes-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ae5a49;
  text-align: center;
}

.texto_adobe {
  font-family: quasimoda, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #414042;
  text-align: center;
}

.contenedor_padre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hijos {

}