
section p {
    text-align:center;
}

article {
    margin-top: 5%;
    margin-bottom:1.5%;
}

.otras_paginas a {
    text-decoration: none;
}

.tendencies-group1 {
    display: flex;
    justify-content: space-around;
}
.tendencies-group1 img {
    height: 50vh;
}

.tendencies-group2 {
    display: flex;
    justify-content: space-around;
    margin-top:5%;
}

.tendencies-group2 img {
    height: 40vh;
}

.tendencies-item {
    width: 100%;
    padding-right: 3%;    
}