*{
    box-sizing: border-box;
}
/* Se debería poder sacar */
/* body {
    display:flex;
    min-height:100vh;
} */

.conteiner-slider{
    /* width: 90%; */
    /* Hay que cambiar. Pero es lo que me cambia que se vean o no las otras imágenes*/
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider{
    display:flex;
    width: 700%;     /* PORQUE TENGO 7 IMÁGENES!!! */
    /* height: 40%; */
    margin-left: -100%;
}

.slider__section{
    width:80%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size:3em;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}

.slider__btn:hover{
    background: white;
}

.slider__btn--left{
    left: 0.5em;
}

.slider__btn--right{
    right: 0.5em;
}

