*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    flex-direction: column;
    color:#ffffff;
    background-color: #D6BFAB;
    padding: 1% 0;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-weight:bolder;
    font-size: 3vw;
    text-align: center;
}

header p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

header .logo{
    width:20%;
}

section {
    padding: 3% 0;
    font-family: "Dancing Script", cursive;
    font-size: 5vw;
    text-align: center;
}

.features_contenedor {
    background: #ffffff;
    color: #000000;
    viewport-fit: 50vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    font-family: 'Source Sans Pro', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
  }
  
nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    background-color:darkgray;
    padding:0%;
    font-size:1.5vw;
    margin: 0% auto;
}

.barra_navegacion{
    display:inline-block;
    color: #fff;
    padding: 1% 5%;
    text-decoration: none;
}

.barra_navegacion:hover{
    background:#c0d3d9;
    text-transform: UPPERCASE;
    transition: 0.8s;
}

footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868668;
    font-size: 12px;
}
footer .container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width:2%;
}

@media screen and (max-width: 480px) {
    body{
        background-color: #f6d9d3;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .barra_navegacion:hover{
        background:none;
        text-transform: UPPERCASE;
        transition: 0.8s;
    }
    header {
        flex-direction: row;
        padding-right: 5%
    }
    header .logo{
        display: flex;
        flex-direction: left;
        padding-left: 5%;
    }    
}

@media screen and (min-width:480px) and (max-width: 768px){
    body{
        background-color: #c0d3d9;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .barra_navegacion:hover{
        background:none;
        text-transform: UPPERCASE;
        transition: 0.8s;
    }
    header {
        flex-direction: row;
        padding-right: 5%
    }
    header .logo{
        display: flex;
        flex-direction: left;
    }
}
@media screen and (min-width:768px) and (max-width: 1024px){
    body{
        background-color: #c0d3d9;}
}
@media screen and (min-width: 1024px){
    body{
        background-color:#e0e5ea;}
}